<div class="room-list">
    <span class="room-id">id</span>
    <span class="room-name">Room</span>
    <span class="room-owner">Owner</span>
</div>
<div id="room-container">
    <%= print_all_rooms(@logged_in) %>
</div>
