<div class="room-list">
    <span id="room-id-heading">id</span>
    <span id="room-name-heading">Room</span>
    <span id="room-owner-heading">Owner</span>
</div>
<div id="room-container">
    <%= print_all_rooms(@logged_in) %>
</div>
