<%= form_for @conn, user_path(@conn, :login), [method: :post, as: :user], fn(f) -> %>
<div class="login-form">
    <div class="login-field">
        <div class="login-field">
            <%= text_input f, :username, placeholder: "Username" %>
        </div>

        <div class="login-field">
            <%= password_input f, :password, placeholder: "Password" %>
        </div>
    </div>
</div>
<div class="login">
    <%= submit "Login" %>
</div>
<% end %>
