/*This file is for your main application css*/
:root {
    --base-text: #C7C7C7; /*Everything from here to...*/
    --blue-text: #3C8FFF;
    --pink-text: #F557FF;
    --green-text: #57FF53;
    --red-text: #FF0000; /*... here is unused*/
    --qtstream: #f1d98d; /*Logo for the site*/
    --dark-background: #202127; /*Background for the whole site*/
    --dark-background2:#1A1B20; /*Used nowhere*/
    --dropzone-bg: #2d2d2d; /*Used nowhere*/
    --lighter-dark-background: #32353e; /*Used for various backgrounds, mainly the header and the login/registration forms*/
    --lighter-dark-background2: #292b32; /*This one effects the even files on the file list*/
    --odd-file: #3e424c; /*Used for the odd file coloring*/
    --del-button:#462b2d; /*Used for the delete button coloring*/
    --l-bg:#54555B; /*Used nowhere*/
    --border-color: #4f5c6d; /*Affects the header's border*/
    --pointless-border: #626262; /*Used nowhere*/
    --dimmer: rgba(255, 255, 255, 0.5); /*Is used when the page is dimmed*/
    --filter-border:#404552; /*This one effects the border of the filter on the file list*/
    --general-text:white; /*Affects the base text of the website*/
    --expire-text: #b1b5c4; /*Affects the file expiration date?*/
    /*These are visited and unvisited links*/
    --new-link: #3961F8;
    --visited-link: #9660FA;
    /*These are for the file list the first two determine the file uploader border and background. The second one effects the color of the text*/
    --uploader-boarder: #58525b;
    --uploader-bg: #273049;
    --file-link: #d2d5e0;
    /*The first one effects the font of the input text on the registration and login page when it's not focused*/
    --input-color: rgb(140,143,148);
    /*These are for the input forms on the login and registration page*/
    --input-underline: #4e588d;
    --input-background: #373743;
    --input-text: #c7c9db;
    /*These affect the upload button*/
    --upload-bg: #2b3246;
    --upload-boarder: #0e1320;
    --upload-text: #e8e8e8;
}

html {
    color: var(--general-text);
    background: var(--dark-background);
    font-family: sans-serif;
    line-height: 1.62;
}

.body-smaller {
    font-size: 0.9em;
}

.content-container {
    text-align: center;
    padding: 20px;
}

.nav-container {
    border-color: var(--lighter-dark-background);
    border-bottom: 2px solid var(--border-color);
    background-color: var(--lighter-dark-background);
}

.navigation {
    font-size: 1.6em;
    line-height: 100px;
}

#room {
    background: var(--dark-background);
    margin-left: 10px;
    margin-right: 10px;
}

.header-icon {
    text-align: center;
    padding: 15px;
    background-color: var(--lighter-dark-background);
}

#header-image {
    max-width: 40px;
}

.qtstream {
    padding-left: 10px;
    color: var(--qtstream);
    font-weight: bold;
}

.nav-text {
    color: var(--base-text);
    font-weight: normal;
}

.user-profile {
    text-align: center;
}

.huge-text {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

#file-dropzone {
    background-color: var(--dropzone-bg);
}

#file-list-container {
    box-sizing: border-box;
}

.column, body, html, .container, main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

#debug-message {
    margin: 10px;
}

.column-wrap {
    flex-wrap: wrap;
    align-content: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.row-top {
    align-items: flex-start;
}

.row-right {
    justify-content: flex-end;
}

.row-spaced {
    justify-content: space-between;
}

.grow, .wrapped, body, .container, main {
    flex-grow: 1;
}

html {
    height: 100vh;
}

.grow-double {
    flex-grow: 2;
}

.shrink {
    flex-shrink: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.no-grow {
    flex-grow: 0;
}

.shrink-double {
    flex-shrink: 2;
}

.scroll-container {
    overflow-y: auto;
}

.scroll-content {
    min-height: 100%;
}

.auto-basis {
    flex-basis: auto;
}

.zero-basis, .wrapped, body, .container, main {
    flex-basis: 0;
}

.wrapped, body, .container, main {
    min-height: 0;
    max-height: none;
}

.file-container {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 3px;
    background-color: var(--lighter-dark-background);
}

.file-link {
    margin-left: 7px;
    text-decoration: none;
    color: var(--file-link);
    font-weight: 500;
}

.file-uploader {
    background: var(--uploader-bg);
    border-style: solid;
    border-color: var(--uploader-boarder);
    border-width: 1px;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.7em;
}

.file-uploader-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    margin-left: 5px;
}

.file-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
}

.file-main, .file-left, .file-right, .file-link, .file-uploader-container,
.file-expiration, .file-mod-controls, .file-uploader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-width: 0;
}

.file-right, .file-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.file-right {
    text-align: right;
    flex-grow: 1;
    justify-content: flex-end;
    align-content: flex-end;
}

.file-left {
    text-align: left;
    flex-grow: 4.2;
    justify-content: flex-start;
    align-content: flex-start;
}

.file-mod-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

[v-cloak] {
    visibility: hidden;
}

.form-group {
    margin: 10px;
}

#dim-screen {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dimmer);
    display: flex;
}

#loading-message {
    margin: auto;
    font-size: 2.3em;
    text-align: center;
}

.register-form {
    background: var(--lighter-dark-background);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding-bottom: 15px;
    padding-top: 8px;
    border: 1px solid var(--form-border);
    border-radius: 5px;
}

.login-form {
    background: var(--lighter-dark-background);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    padding-bottom: 15px;
    padding-top: 5px;
    border: 1px solid var(--form-border);
    border-radius: 5px;
    text-align: center;
}

.form-input {
    padding-top: 15px;
    padding-left: 10px;
    background: var(--lighter-dark-background);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--lighter-dark-background);
    width: 40%;
    max-width: 300px;
    color: var(--input-color);
    font-size: 1.1em;
}

.login-input {
    width: 90%;
    max-width: 800px;
}

.login-button {
    margin-left: 30%;
}

.register-button {
    margin-left: 10%;
}

.form-button {
    margin-top: 1%;
}

#room-list {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1em;
    text-align: center;
    display: grid;
    grid-template-columns: 10fr 50fr 15fr;
}

#room-id-heading {
    min-width: 100px;
}

.room-id {
    min-width: 100px;
}

.room-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-owner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red, .presence {
    color: #c9c9c9;
}

.presence-container, .presence-container-small {
    max-height: 20vh;
}

.control-bar {
}

.presence-container-medium {
    max-height: 50vh;
}

.presence-container-big {
    max-height: 75vh;
}

.container-hide {
    /*visibility: collapse; doesn't work in chrome yet*/
    display: none;
}

.container-half {
    max-height: 50vh;
}

.hovery .file-container .thumbnail {
    position: absolute;
    background: var(--upload-bg);
    left: var(--x);
    top: var(--y);
    overflow: hidden;
    z-index: 1;
}

.button, .custom-file-upload, button {
    background: var(--upload-bg);
    border-radius: 3px;
    border: 1px solid var(--upload-border);
    display: block;
    cursor: pointer;
    color: var(--upload-text);
    font-size: 0.9em;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-align: center;
}

.delete.button {
    background: transparent;
    border-style: none;
}

#delete-button {
    background: var(--del-button);
}

.small.delete.button, .mark, .button-container {
    padding: 0;
    display: inline-block;
}

.small.delete.button, .mark {
    margin: 1px 3px 1px 3px;
}

.row-centre {
    align-content: center;
}

.file-odd {
    background: var(--odd-file);
}

.file-expiration {
    font-size: 0.6em;
    color: var(--expire-text);
    margin: auto 6px auto 6px;
}

.nav-text {
    text-decoration: none
}

.register-title {
    padding-left: 10px;
}

.header-icon, .red {
    background: var(--lighter-dark-background);
}

#filter {
    border-style: solid;
    border-radius: 3px;
    border-color: var(--filter-border);
}

.hidden {
    display: none;
}
