<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Qtfile!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <% logged_in? = Plug.Conn.get_session(@conn, :user_id) != nil %>
      <%= render QtfileWeb.SharedView, "header.html", Map.put(assigns, :header_elements,
          [
              %{text: "profile", url: "/profile", condition: fn -> logged_in? end},
              %{text: "login", url: "/login", condition: fn -> not logged_in? end},
              %{text: "register", url: "/register", condition: fn -> not logged_in? end},
              %{text: "logout", url: "/api/logout", condition: fn -> logged_in? end},
          ]) %>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
